.sequence-type-cards .sequence-container-inner .sequence {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 20px -20px;
}

.sequence-type-cards .sequence-member {
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}

.sequence-type-cards .sequence-member .sequence-controls {
  top: 1px;
  right: 1px;
}

.sequence-type-cards .sequence-member .sequence-member-inner {
  flex: 1;
  border: 1px solid #43b1b0;
  border-radius: 4px;
  padding: 20px !important;
}

.sequence-type-cards .sequence-member .sequence-member-inner label {
  display: none;
}

.sequence-type-cards .sequence-member .sequence-member-inner .field-content {
  width: 100%;
}

.sequence-type-cards .sequence-member .struct-block .fields {
  width: 100%;
}

.struct-block .sequence-type-cards {
  width: 100% !important;
}
